.footer {
	padding: 50px 0;

	background: #17213C;

	&__container {

	}
	&__wrapper {
		display: grid; 
		grid-auto-columns: 1fr; 
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
		grid-template-rows: 1fr; 
		gap: 0px 40px; 
	}
	&__column {}
}

.footer-column {
	&__title {
		margin-bottom: 20px;

		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.1px;
		color: #FFFFFF;

	}

	&__list {
		li {
			margin-bottom: 10px;
		}

		a {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 171%;
			letter-spacing: 0.2px;

			color: #FFFFFF;
		}
	}
}

.footer-column_last {
	li {
		margin-bottom: 20px;

		padding-left: 33px;

		position: relative;

		&::before {
			content: url(../img/footer-section/ico-1.svg);
			
			width: 23px;
			
			display: block;
			
			position: absolute;
			left: 0;
			top: 0;
		}

		&:nth-child(2) {
			&::before {
				content: url(../img/footer-section/ico-2.svg);

				width: 24px;
				height: 30px;
			}	
		}

		&:nth-child(3) {
			&::before {
				content: url(../img/footer-section/ico-3.svg);
			}	
		}
	}
}

.love {
	padding: 20px 0;

	background: white;

	&__container {}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__icons {
		display: flex;

		margin-left: 20px;

		img {
			width: 24px;
		}
		a {
			margin-right: 15px;
			display: block;

			&:last-child {
				margin: 0;
			}
		}
	}

	&__title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 171%;
		letter-spacing: 0.2px;
		color: #737373;

	}
}

@media (max-width: 767px) {
	.footer__wrapper {
		grid-template-columns: repeat(auto-fill, 150px); 
		grid-template-rows: unset;
		gap: 40px 40px;
	}

	@media (max-width: 375px) {
		.footer__wrapper {
			grid-template-columns: 1fr; 
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

			padding-left: 20px;
		}
	}
}