$textColorDark: #252b42;
$textColorGrey: #737373;

.header {
	transition: 0.3s ease-in-out;

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	z-index: 100;

	&__container {
		display: flex;
		align-items: center;

		height: 104px;

		transition: 0.3s ease-in-out;
	}

	&__logo {
		margin-right: 134px;
	}

	&__link {
		font-weight: bold;
		font-size: 24px;
		color: $textColorDark;
	}

	@media (max-width: 560px) {
		&__container {
			min-height: 55px;
		}
	}
}

.header-minimize {
	height: 80px;
	.header__container {
		height: 80px;
	}
	transition: 0.4s ease-in-out;
}

.header-scrolled {
	backdrop-filter: blur(8px);
	background: rgba($color: #ffffff, $alpha: 0.7);
	box-shadow: 0 1px 10px rgba($color: #000000, $alpha: 0.3);

	transition: 0.4s ease-in-out;
}

.menu {
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		margin-right: 21px;

		&:last-child {
			margin: 0;
		}
	}

	&__link {
		font-weight: 600;
		line-height: 171%;
		color: $textColorGrey;
	}
}

// Burger menu

.burger-button {
	display: none;

	&__span {
		display: block;

		width: 30px;
		height: 3px;
		margin-bottom: 6px;

		background-color: $textColorGrey;

		transition: 0.3s;

		&:last-child {
			margin: 0;
		}
	}
}

.burger-button-active {
	.burger-button__span:first-child {
		transform: translateY(9px) rotate(45deg);
	}

	.burger-button__span:nth-child(2) {
		opacity: 0;
	}

	.burger-button__span:last-child {
		transform: translateY(-9px) rotate(-45deg);
	}
}

.popup {
	position: fixed;
	right: -100%;
	top: 55px;

	width: 100%;
	height: 100%;

	z-index: 99;

	backdrop-filter: blur(8px);
	background: rgba($color: #ffffff, $alpha: 0.5);

	transition: 0.3s;
}

.popup-menu {
	&__menu {
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin-top: 50px;
	}
	&__item {
		margin-bottom: 40px;

		&:last-child {
			margin: 0;
		}
	}
	&__link {
		font-size: 25px;
		font-weight: 600;
		line-height: 171%;
		color: rgb(69, 69, 69);
	}
}

.popup-open {
	right: 0;
}

@media (max-width: 900px) {
	.header {
		backdrop-filter: blur(8px);
		background: rgba($color: #ffffff, $alpha: 0.7);
		box-shadow: 0 1px 10px rgba($color: #000000, $alpha: 0.3);

		transition: 0.4s ease-in-out;
	}
}

@media (max-width: 560px) {
	.burger-button {
		display: block;
	}

	.menu {
		display: none;
	}

	.header {
		height: 55px;
		&__container {
			height: 55px;
			justify-content: space-between;
		}
	}
}
