@import "_reset.scss";
@import "_fonts.scss";

$textColorDark: #252B42;
$textColorGrey: #737373;

body {
	height: 100%;

	background-color: #FAFAFA;

	font-family: 'Montserrat', serif;
	line-height: 1;
	font-size: 14px;
	font-weight: 500;
	color: $textColorDark;
}

.noScroll {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

._container {
	max-width: 1046px;
	margin: 0 auto;
	padding: 0 30px;
	box-sizing: content-box;
}

._ibg{
	position: relative;

	img{
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		object-fit: cover;
	}
}

._center-absolute {
	position: absolute;
	top: 50%;
	left: 50%;

	margin-right: -50%;
	transform: translate(-50%, -50%)
}

._standard-h2 {
	margin-bottom: 10px;

	text-align: center;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
	color: #252B42;
}

._standard-subTitle {
	text-align: center;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.2px;
	color: $textColorGrey;
}

@import "_header.scss";

@import "_intro-section";
@import "_services-card-section";
@import "_experience-section";
@import "_advices-section.scss";
@import "_videoInfo-section";
@import "_labels-section.scss";
@import "_subscribe-section";
@import "_support-section";