@import "_reset.scss";

$textColorDark: #252B42;

body {
	height: 100%;

	font-family: 'Montserrat';
	line-height: 1;
	font-size: 14px;
	font-weight: 500;
	color: $textColorDark;
}

.noScroll {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

._container {
	max-width: 1046px;
	margin: 0 auto;
	padding: 0 30px;
	box-sizing: content-box;
}

._ibg{
	position: relative;

	.intro__img-background{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}


@import "_fonts.scss";
@import "_header.scss";

@import "_intro-section";